// variables
$shakespeare-50: #eff9fc;
$shakespeare-100: #d7eef6;
$shakespeare-200: #b4deed;
$shakespeare-300: #80c6e0;
$shakespeare-400: #4ca8cd;
$shakespeare-500: #2988b1;
$shakespeare-600: #256e95;
$shakespeare-700: #245a7a;
$shakespeare-800: #254b65;
$shakespeare-900: #234056;
$shakespeare-950: #12293a;


$background-dark: #18181B;
// globals

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;
}


body {
    background-color: $background-dark;
    color: white;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-size: 5.4rem;
    text-wrap: balance;
    @media screen and (max-width: 780px) {
        font-size: 4.2rem;
    }
}
h2{
    font-size: 4.2rem;
    text-wrap: balance;
    @media screen and (max-width: 780px) {
        font-size: 3.5rem;
    }
}
h3 {
    font-size: 2.4rem;
    text-wrap: balance;
}

p {
    font-size: 1.8rem;
    letter-spacing: 0.15rem;
    line-height: 2.5rem;
}
a {
    all: unset;
    font-size: 1.6rem;
    cursor: pointer;
    transition: color 0.3s;
    &:hover {
        color: $shakespeare-300;
    }
}

img {
    width: 100%;
    height: auto;
}

button {
    all: unset;
}

li {
    all: unset;
}
//Components

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem 2.4rem;
    border-radius: 0.5rem;
    background-color: $shakespeare-400;
    color: $shakespeare-950;
    transition: background 0.3s ease;
    &:hover {
        background-color: $shakespeare-300;
    }
}

.btn_overline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 1.6rem;
    border-radius: 0.5rem;
    background-color: transparent;
    color: $shakespeare-300;
    border: 1px solid $shakespeare-300;
    transition: background 0.3s ease;
    &:hover {
        background-color: $shakespeare-950;
        cursor: pointer;
    }
}

.bottom_element {
    margin-top: auto;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    position: relative;
    padding: 3rem;
    border-radius: 1rem;
    overflow: hidden;
    background-image: radial-gradient(100rem circle at center, rgba(255,255,255,0.06), transparent 40% );
    border: 1px solid rgba($color: #5a5a5a, $alpha: 0.8);
    box-shadow: 1px 3px 50px 15px rgba(0,0,0,0.35);
}

.card_bg {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}


.card_bg:hover {
    opacity: 1;
}

.container {
    width: 130rem;
    height: auto;
    max-width: 90%;
    margin: 0 auto;
}

.gradient_text {
    animation: flow 3s ease infinite;
}

.grid-responsive {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.input_text {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.6rem;
    input {
        all: unset;
        padding: 1rem 2rem;
        border: 1px solid $shakespeare-300;
        border-radius: 1rem;
    }
}

.select_input {
    position: relative; 
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 1px solid $shakespeare-300;
    border-radius: 1rem;

    .select_options {
        position: absolute;
        width: 100%;
        height: 10rem;
        overflow-y: scroll;
        top: 100%;
        left: 0;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem 2rem; 
        background-color: $background-dark;
        border: 1px solid $shakespeare-300;

        .btn_option {
            transition: background 0.3s;
            &:hover {
                background-color: $shakespeare-950;
                color: $shakespeare-300;
            }
        }
    }
}

//big components


.header {
    position: sticky;
    top: 0;
    background-color: $background-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    z-index: 10;
    animation: enhance-header linear both;
    animation-timeline: scroll(root);
    animation-range: 0 1rem;
    .navbar {
        display: flex;
        width: 130rem;
        max-width: 90%;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
        a {
            @media screen and (max-width: 780px) {
                display: none;
            }
        }
        ul {
            display: flex;
            gap: 3rem;
            @media screen and (max-width: 780px) {
                display: none;
            }
        }
        .nav_icon {
            display: none;
    
            @media screen and (max-width: 780px) {
                display: block;
                width: 3rem;
                cursor: pointer;
            }
        }
        button {
            @media screen and (max-width: 780px){
                display: none;
            }
        }
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
        }
        .icon {
            width: 5rem;
            height: 5rem;
        }
    }
}

.nav_mobile {
    position: fixed;
    height: 100%;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 5rem;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    background-color: $background-dark;
    
    .nav_icon {
        position: absolute;
        top: 0;
        right: 0;
        width: 3rem;
        height: 3rem;
        margin: 2rem;
        cursor: pointer;
    }
}

.nav_mobile-show {
    transform: translateX(0);
    z-index: 20;
}

.home {
    text-align: center;
    background-image: radial-gradient(closest-corner, rgba(36,90,122,0.8), rgba(0,0,0,0), transparent );
    margin-top: 3rem;
    .home_content {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        .btn {
            width: 10%;
            font-size: 1.4rem;
            align-self: center;
        }
        img {
            width: 100rem;
            height: auto;
            object-fit: contain;
            @media screen and (max-width: 780px) {
                width: 100%;
                height: auto;
            }
        }
    }
    
}
.about {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-image: radial-gradient(ellipse at bottom, rgba(36,90,122,0.4), rgba(0,0,0,0), transparent );
    .about_content {
        margin: 10rem auto;
        h2 {
            text-align: center;
        }
        p {
            margin-top: 5rem;
        }
    }
}

.services {
    padding-bottom: 5rem;
    background-image: radial-gradient(ellipse at top, rgba(36,90,122,0.4), rgba(0,0,0,0), transparent );
    h3 {
        color: $shakespeare-400;
    }
    p {
        font-size: 1.6rem;
    }
    .services_ul {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        font-size: 2rem;
        font-weight: 700;
    }
    .icon {
        width: 10rem;
        padding: 1rem;
        filter: drop-shadow(0 0 2rem $shakespeare-100);

    }
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    width: 130rem;
    max-width: 90%;
    margin: 0 auto;
    background-image: radial-gradient(ellipse at bottom, rgba(36,90,122,0.4), rgba(0,0,0,0), transparent );
    padding-bottom: 5rem;
    @media screen and (max-width: 780px) {
        grid-template-columns: repeat(1, 1fr);
    }

    .project_card {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient(100rem circle at center, rgba(255,255,255,0.06), transparent 40% );
        border: 1px solid rgba($color: #5a5a5a, $alpha: 0.8);
        box-shadow: 1px 3px 50px 15px rgba(0,0,0,0.35);
        padding: 2rem;
        border-radius: 2.5rem;

    }
    .project_technologies {
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        img {
            width: 4.5rem;
            height: 4.5rem;
        }
    }

    .project_buttons {
        display: flex;
        gap: 3rem;
    }
}

.design {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .design_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        background-image: radial-gradient(closest-corner, rgba(36,90,122,0.4), rgba(0,0,0,0), transparent );
    }
    @media screen and (max-width: 780px) {
        grid-template-columns: 1fr;
        .design_text {
            grid-row: 1;
            h2 {
                text-align: center;
            }
        }
    }
}

.contact {
    margin-bottom: 5rem;
    background-image: radial-gradient(ellipse at top, rgba(36,90,122,0.4), rgba(0,0,0,0), transparent );
}

.footer {
    padding: 5rem;
    border-top: solid rgba($color: #5a5a5a, $alpha: 0.8);

    .footer_links {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        a {
            display: inline-block;
        }
    }
}
//Dashboard

.project_form {
    width: 130rem;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

//Animations

@keyframes enhance-header {
    to {
        border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
    }
    
}
@keyframes flow {
    0% {
        background-color: #fff;
        -webkit-background-clip: text;
        color: transparent;
    }
    50% {
        background: linear-gradient(90deg, rgba(128,198,224,1) 0%, rgba(36,90,122,1) 100%);
        -webkit-background-clip: text;
        color: transparent;
    }

    100% {
        background-color: #fff;
        -webkit-background-clip: text;
        color: transparent;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}